@media screen and (max-width: 768px) {
  .card-info {
    font-size: 4.5vw !important;
  }
  .name {
    font-size: 6vw !important;
  }
}
@media screen and (max-width: 576px) {
  .name-front {
    font-size: 48px !important;
  }
}
