@import '_breakpoints.scss';

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include center;
  width: 100vw;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

.card-container {
  background-color: transparent;
  perspective: 1000px;
  width: 745px;
  aspect-ratio: 7/4;
  &:hover {
    .card-container-inner {
      transform: rotateY(-180deg);
    }
  }
  .card-container-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    .card {
      @include center;
      flex-direction: column;
      background: #e3e4db;
      border-radius: 20px;
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      &-front {
        #logo {
          width: 34%;
          height: auto;
        }
        .name-container {
          width: 195px;
          height: 98px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .name-front {
          font-size: 72px;
          color: #aea4bf;
        }
      }
      &-back {
        align-items: start;
        padding: 4%;
        transform: rotateY(180deg);
        .card-info {
          display: flex;
          flex-direction: column;
          height: 100%;
          font-size: 34px;
          color: #8f6593;
          .card-more-info {
            margin-top: 4%;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: space-between;
            height: auto;
          }
          .name {
            font-size: 48px;
            font-weight: bold;
          }
          .profession {
            font-style: italic;
            font-weight: lighter;
          }
        }
      }
    }
  }
}

$hair-time: 0.2s;
$glasses-time: 0.6s;
$brim-time: 0.2s;
$rect-time: 0.2s;
$initial-delay: 0.5s;

@mixin logo-animation($length, $i, $duration, $delay) {
  #logo path:nth-child(#{$i}) {
    stroke-dasharray: $length;
    stroke-dashoffset: $length;
    animation: logo-anim $duration ease-in-out $delay forwards;
  }
}

@include logo-animation(89, 1, $hair-time, 0s + $initial-delay);
@include logo-animation(92, 2, $hair-time, $hair-time + $initial-delay);
@include logo-animation(111, 3, $hair-time, (2 * $hair-time + $initial-delay));
@include logo-animation(75, 4, $hair-time, (3 * $hair-time + $initial-delay));
@include logo-animation(87, 5, $hair-time, (4 * $hair-time + $initial-delay));
@include logo-animation(66, 6, $hair-time, (5 * $hair-time + $initial-delay));
@include logo-animation(
  161,
  7,
  $glasses-time,
  (6 * $hair-time + $initial-delay)
);
@include logo-animation(
  161,
  8,
  $glasses-time,
  (6 * $hair-time + $initial-delay)
);
@include logo-animation(
  16,
  9,
  $rect-time,
  (7 * $hair-time + $glasses-time + $initial-delay)
);
@include logo-animation(
  22,
  10,
  $brim-time,
  (7 * $hair-time + $glasses-time + $rect-time + $initial-delay)
);
@include logo-animation(
  22,
  11,
  $brim-time,
  (7 * $hair-time + $glasses-time + $rect-time + $initial-delay)
);

@keyframes logo-anim {
  to {
    stroke-dashoffset: 0;
  }
}
